<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Blackjack</title>
		<link rel="stylesheet" href="/styles/app.css">
	</head>
	<body>
		<div>
		{{^blackjackGame.stopHand}}
			Dealer's visible card:
			<div>
				<ul>
					<li>{{ blackjackGame.getDealerVisibleCard.getFace }} of {{ blackjackGame.getDealerVisibleCard.getSuit }}</li>
				</ul>
			</div>
		{{/blackjackGame.stopHand}}
		
		{{#blackjackGame.stopHand}}
			Dealer's deck:
			<div>
				<ul>
					{{#blackjackGame.getAllDealerCards}}
					<li>{{ this.getFace }} of {{ this.getSuit }}</li>
					{{/blackjackGame.getAllDealerCards}} 
				</ul>
			</div>
		{{/blackjackGame.stopHand}}
		</div>
		<div>
			Your cards:
			<div>
				<ul>
					{{#blackjackGame.getPlayersCards}}
					<li>{{ this.getFace }} of {{ this.getSuit }}</li> 
					{{/blackjackGame.getPlayersCards}}
				</ul>
			</div>
		</div> 
		<div>
			Bet: {{ blackjackGame.getPlayerBet }}
		</div>
		<div>
			Balance: {{ blackjackGame.getPlayerBalance }} 
		</div>
		<div>
			{{^blackjackGame.stopHand}}
				<form method="post" action="/hit">
					<button>Hit</button>
				</form>
				<form method="post" action="/stand">
					<button>Stand</button>
				</form>
			{{/blackjackGame.stopHand}}
		</div>
		<div>
			{{#blackjackGame.stopHand}}
				<div>
					{{#blackjackGame.playerWinsHandNoBlackjack}}
						You win hand!
					{{/blackjackGame.playerWinsHandNoBlackjack}}
					
					{{#blackjackGame.playerWinsHandWithBlackjack}}
						You win hand with a blackjack!
					{{/blackjackGame.playerWinsHandWithBlackjack}}
					
					{{#blackjackGame.dealerWinsHand}}
						Dealer wins hand!
					{{/blackjackGame.dealerWinsHand}}
					
					{{#blackjackGame.bothHaveBlackjacks}}
						You both have blackjacks, so draw!
					{{/blackjackGame.bothHaveBlackjacks}}
					
					{{#blackjackGame.standardDraw}}
						Draw!
					{{/blackjackGame.standardDraw}}
				</div>
				<div>
					Dealer Total: {{ blackjackGame.dealer.getHand.getTotal }}  
				</div>
				<div>
				Player Total: {{ blackjackGame.player.getHand.getTotal }}
				</div>
				<div>
					{{^blackjackGame.isGameOver}}
					<form method="post" action="/contineGame">
						<button>Continue Game</button>
					</form>
					{{/blackjackGame.isGameOver}}
				</div>
			{{/blackjackGame.stopHand}}
		</div>
		<div>
			{{#blackjackGame.isGameOver}}
				Game is over
			{{/blackjackGame.isGameOver}}
		</div>
	</body>
</html>