<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Blackjack</title>
	</head>
	<body>
		Dealer's visible card:
		<br>
		<ul>
			<li>{{ blackjackGame.getDealerVisibleCard.getFace }} of {{ blackjackGame.getDealerVisibleCard.getSuit }}</li> 
		</ul>
		<br>
		Your cards:
		<ul>
			{{#blackjackGame.getPlayersHand}}
			<li>{{ this.getFace }} of {{ this.getSuit }}</li> 
			{{/blackjackGame.getPlayersHand}}
		</ul>
		<br>
		Balance: {{ blackjackGame.getPlayerBalance }} 
		<br>
		<br>
		<form method="post" action="/hit">
			<button>Hit</button>
		</form>
		<form method="post" action="/stand">
			<button>Stand</button>
		</form>
	
	</body>
</html>